
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Cart</h3>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity (kgs) </th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="row">
                                        <img src="../../assets/image/fruit/apple.png" class="img-fluid" height="100" width="100" alt="product 1">
                                    </td>
                                    <td> Apple </td>
                                    <td>10.00 Taka</td>
                                    <td>
                                        <input type="number" class="form-control" value="1">
                                    </td>
                                    <td>10.00 Taka
                                    </td>
                                </tr>
                                <tr>
                                  <td scope="row">
                                      <img src="../../assets/image/fruit/apple.png" class="img-fluid" height="100" width="100" alt="product 1">
                                  </td>
                                  <td> Apple </td>
                                  <td>10.00 Taka</td>
                                  <td>
                                      <input type="number" class="form-control" value="1">
                                  </td>
                                  <td>10.00 Taka
                                  </td>
                              </tr>
                              <tr>
                                <td scope="row">
                                    <img src="../../assets/image/fruit/apple.png" class="img-fluid" height="100" width="100" alt="product 1">
                                </td>
                                <td> Apple </td>
                                <td>10.00 Taka</td>
                                <td>
                                    <input type="number" class="form-control" value="1">
                                </td>
                                <td>10.00 Taka
                                </td>
                            </tr>
                            <tr>
                              <td scope="row">
                                  <img src="../../assets/image/fruit/apple.png" class="img-fluid" height="100" width="100" alt="product 1">
                              </td>
                              <td> Apple </td>
                              <td>10.00 Taka</td>
                              <td>
                                  <input type="number" class="form-control" value="1">
                              </td>
                              <td>10.00 Taka
                              </td>
                          </tr>
                          <tr>
                            <td scope="row">
                                <img src="../../assets/image/fruit/apple.png" class="img-fluid" height="100" width="100" alt="product 1">
                            </td>
                            <td> Apple </td>
                            <td>10.00 Taka</td>
                            <td>
                                <input type="number" class="form-control" value="1">
                            </td>
                            <td>10.00 Taka
                            </td>
                        </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <h4 class="text-right">Total: 90.00 Taka</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
