<br>
<div class="container text-center bg-transparent fs-5 customanimation">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 bg-transparent">

    <div class="col bg-transparent">
      <div class="card m-2 placeholder-glow custom1">
        <div class="card-header bg-transparent border border-bottom-0">

          <i class="fa-solid fa-lemon fa-5x bg-transparent" style="color: #db4506;"></i>
          <i class="fa-solid fa-pepper-hot fa-5x" style="color: #db4506;"></i>
        </div>
        <div class="card-body card-title bg-transparent">
          Fresh fruits and vagetables available to your door
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card m-2 placeholder-glow custom1">
        <div class="card-header">

          <i class="fa-solid fa-1 fa-5x" style="color: #db4506;"></i>
          <i class="fa-solid fa-0 fa-5x" style="color: #db4506;"></i>
          <i class="fa-solid fa-percent fa-5x" style="color: #db4506;"></i>
        </div>
        <div class="card-body card-title">
          Enjoy 10% free upto your first four orders
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card m-2 placeholder-glow custom1">
        <div class="card-header">
          <i class="fa-solid fa-truck-fast fa-5x" style="color: #db4506;"></i>
        </div>
        <div class="card-body card-title">
          Faster Delivery available with 24/7 service

        </div>
      </div>
    </div>


    <div class="col">
      <div class="card m-2 placeholder-glow custom1">
        <div class="card-header">
          <i class="fa-solid fa-shield-halved fa-5x" style="color: #db4506;"></i>
        </div>
        <div class="card-body card-title">
          100% secure payment & Return Policy
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>


  <hr class="border border-0">
  <br>



  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <a routerLink="/fruits" class="text-decoration-none">
          <div class="card m-2 placeholder-glow custom1">
            <div class="card-header bg-transparent border-bottom-0 text-start fs-3 fw-bolder">
              Fruits
            </div>
            <div class="card-body">
              <app-slideshow></app-slideshow>

            </div>

          </div>
        </a>

      </div>
    </div>
  </div>
  <hr class="border border-0">
  <br>


  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <a routerLink="/fruits" class="text-decoration-none">
          <div class="card m-2 placeholder-glow custom1">
            <div class="card-header bg-transparent border-bottom-0 text-start fs-3 fw-bolder">
              Vegetables
            </div>
            <div class="card-body">
              <app-slideshow1></app-slideshow1>

            </div>

          </div>
        </a>

      </div>
    </div>
  </div>
  <hr class="border border-0">
  <br>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <a routerLink="/spices" class="text-decoration-none">
          <div class="card m-2 placeholder-glow custom1">
            <div class="card-header bg-transparent border-bottom-0 text-start fs-3 fw-bolder">
              Spices
            </div>
            <div class="card-body">
              <app-slideshow1></app-slideshow1>

            </div>

          </div>
        </a>

      </div>
    </div>
  </div>
  <hr class="border border-0">
  <br>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <a routerLink="/grocery" class="text-decoration-none">
          <div class="card m-2 placeholder-glow custom1">
            <div class="card-header bg-transparent border-bottom-0 text-start fs-3 fw-bolder">
              Grocery items
            </div>
            <div class="card-body">
              <app-slideshow1></app-slideshow1>

            </div>

          </div>
        </a>

      </div>
    </div>
  </div>
  <hr class="border border-0">
  <br>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12 fw-medium fs-3 fst-italic">
        WE ARE ONE OF THE BEST SUPPLY CHAIN IN BANGLADESH. YOUR SATISFACTION IS OUR MAIN PRIORITY.
      </div>

    </div>




  <hr class="border border-0">
  <br>

  
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card m-2 placeholder-glow custom1">
            <div class="card-header bg-transparent border border-bottom-0">
              <img src="../../assets/image/person 1.jpg" alt="..." class="custom2 rounded-circle">
            </div>
            <div class="card-title">Britney</div>
            <div class="card-body bg-transparent">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos fugit magni facilis numquam amet quam necessitatibus perspiciatis assumenda dignissimos in.
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card m-2 placeholder-glow custom1">
            <div class="card-header bg-transparent border border-bottom-0">
              <img src="../../assets/image/person 1.jpg" alt="..." class="custom2 rounded-circle">
            </div>
            <div class="card-title">Britney</div>
            <div class="card-body bg-transparent">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos fugit magni facilis numquam amet quam necessitatibus perspiciatis assumenda dignissimos in.
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card m-2 placeholder-glow custom1">
            <div class="card-header bg-transparent border border-bottom-0">
              <img src="../../assets/image/person 1.jpg" alt="..." class="custom2 rounded-circle">
            </div>
            <div class="card-title">Britney</div>
            <div class="card-body bg-transparent">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos fugit magni facilis numquam amet quam necessitatibus perspiciatis assumenda dignissimos in.
            </div>
          </div>
        </div>
      
      </div>
    </div>