.custom1 {
    border: 3px solid orangered !important;
    border-radius: 10px !important;
    overflow: auto !important;
    box-shadow: 0 4px 4px 0 orangered, 0 4px 20px 0 orangered;
  }
  
  .custom2{
    border: 3px solid orangered !important;
    overflow: auto !important;
    box-shadow: 2px orangered;

  }
  .customanimation {
    animation: customanimation 2s alternate 1;
  }
  
  @keyframes customanimation {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0.1;
    }
    20% {
      opacity: 0.2;
    }
    30% {
      opacity: 0.3;
    }
    40% {
      opacity: 0.4;
    }
    50% {
      opacity: 0.5;
    }
    60% {
      opacity: 0.6;
    }
    70% {
      opacity: 0.7;
    }
    80% {
      opacity: 0.8;
    }
    90% {
      opacity: 0.9;
    }
    100% {
      opacity: 1;
    }
  }